/* CSS Selector for the entire wofi window */
#window {
    background-color: #142F43;
}

/* Selector for a box that everything else sits inside of */
#outer-box {
    color:#FBCAFF;
    border-radius: 6px;
    border: 2px solid ;
}

/*Selector for the text box for filtering items */
#input {
    border-radius: 6px;
    margin: 12px 12px 0px 12px;
    border: 2px solid #FBCAFF;
    background-color: #142F43;
    color: #FFFFFF;
}

/*Selector for the scroll window containing inner-box */
#scroll {
    
}

/*Selector for the box containing all entries */
#inner-box {
    margin: 12px;
    border: 2px solid #FBCAFF;
    border-radius: 6px;
}

/*Selector for the box containing text and if present, images */
#entry {
    
}

/*Selector for the box containing the name of the program/option inserted */
#text {
    margin: 0px 0px 0px 12px;
    color: #FFFFFF;
}

/* Selector for images displayed in entries */
#img {
    
}

/* Selects the currently focused entry in the list. Useful for changing the highlight color, or removing it altogether. */
#entry:selected {
    background-color: #FBCAFF;
    border-radius: 0px;
}

/* Selects the currently focused text inside of the entry in the list. Can change the color of the selected text, background color, etc. */
#text:selected {
    color: #142F43;
}