* {
    font-family: HackNerdFontPropo;
    color: #81A1C1;
    font-size: 12px;
}

window#waybar {
    /*background: alpha(#2E3440, 0);*/
    background: #2E3440;
}

button {
    border: none;
    border-radius: 24px;
}

.module {
    margin: 0px;
    background: #434C5E;
    border-radius: 24px;
    padding: 0px 8px 0px 8px;
}

menu menuitem:hover {
    background-color: #4C566A;
}


button:hover {
    background: inherit;
}
